
//- .modal-form-errors.modal.fade
//- 	.modal-dialog
//- 		.modal-content
//- 			.modal-header
//- 				button.close(data-dismiss='modal') x
//- 				h4 Whoops!
//- 			.modal-body
//- 				| It looks like there was a problem.
//- 				ul
//- 			.modal-footer
//- 				button(data-dismiss="modal").btn.btn-primary OK


.modal-form-errors.modal.fade
	.modal-dialog
		.modal-content
			.modal-header.modal-h
				button.close(data-dismiss='modal') x
				h4 Whoops!
			.modal-body.modal-b
				| It looks like there was a problem.
				ul
			.modal-footer.modal-f
				button(data-dismiss="modal").btn.btn-success OK