//- .modal-qrcode.modal.fade
//-     .modal-dialog
//-         .modal-content
//-             .modal-header
//-                 //button.close(data-dismiss='modal') x
//-                 h4
//-             .modal-body


.modal-qrcode.modal.fade
    .modal-dialog
        .modal-content
            .modal-header.modal-h
                img(src="/images/SVG/modalicon/m7.svg", style="height:40px; display:inline;")
                //button.close(data-dismiss='modal') x      
                span
                h4(style="display:inline; vertical-align:middle;")
            .modal-body.modal-b(style="border-bottom-left-radius:5px;border-bottom-right-radius:5px")
                
