//- .modal-set-clock.modal.fade
//- 	.modal-dialog(style="width:25%; height:200; margin: auto")
//- 		.modal-content
//- 			.modal-header
//- 				//button.close(data-dismiss='modal') x
//- 				h4
//- 			.modal-body(style="text-align: center")
//- 				div#div-sub7(style="display: none")
//- 					button#button-sub7 -7
//- 				div(style="padding-top: 10px")
//- 					button#button-zero 0
//- 			.modal-footer
//- 				button#btn-cancel(data-dismiss="modal").cancel.btn.btn-default Cancel

.modal-set-clock.modal.fade
	.modal-dialog(style="width:25%; height:200;")
		.modal-content
			.modal-header.modal-h
				img(src="/images/SVG/modalicon/m5.svg", style="height:40px; display:inline;")
				h4(style="display:inline; vertical-align:middle;")
			.modal-body.modal-b(style="text-align: center")
				div#div-sub7(style="display: none;")
					button#button-sub7 -7
				div(style="vertical-align: middle;")
					button(style="border-style: none;   border-radius:5px;background-color:#FA4F65; color:back")#button-zero 0
			.modal-footer.modal-f
				button#btn-cancel(data-dismiss="modal").cancel.btn.btn-danger Cancel

