.modal-setting-clock.modal.fade
	.modal-dialog(style="width:40%; margin: auto")
		.modal-content
			.modal-header
				//button.close(data-dismiss='modal') x
				h4
			.modal-body
				ul
			.modal-footer
				button(data-dismiss="modal")#setting-clock-ok.btn.btn-primary OK
